option_settings:
  aws:elasticbeanstalk:command:
    BatchSize: '50'
    BatchSizeType: Percentage
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    InstanceType: t1.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    EC2KeyName: casey-labs-uswest2
  aws:rds:dbinstance:
    DBEngineVersion: 5.6.27
    DBAllocatedStorage: '5'
    DBInstanceClass: db.t1.micro
    DBEngine: mysql
    DBUser: admin
    MultiAZDatabase: false
    DBDeletionPolicy: Snapshot
  aws:autoscaling:asg:
    Custom Availability Zones: us-west-2a
    MinSize: 1
    MaxSize: 1
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateType: Health
    RollingUpdateEnabled: true
